<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-12">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ test | date: "yyyy" }} BlHairdressing
      </div>
    </div>
  </div>
</footer>
