<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <div style="width: 100%; text-align: center;">
      <img style="max-height: 90px;" src="../../../assets/img/brand/logo.png" />
    </div>

  </div>
</nav>
