/* You can add global styles to this file, and also import other style files */
// paths prefixed with ~ signify node_modules
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.fc-day-grid,.fc-divider.fc-widget-header{
  display:none!important;
}

html:not(.auth-layout) .main-content{
  margin: 0px!important;
}
